<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>18 Junction</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">18 Junction</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main>
        <div class="row center">
          <div class="card">
            <a href="member.html">
              <!-- image size: 680px by 830px-->
              <img class="medium" src="./images/passport1.png" alt="member" />
            </a>
            <div class="card-body">
              <a href="member.html">
                <h2>Kwame Attah</h2>
                <h5>P O Box 5643 Accra</h5>
                <h5>Plumber</h5>
                <h5>I offer good plumbing services</h5>
                <h5>353-271-6743</h5>
              </a>
            </div>
          </div>
          <div class="card">
            <a href="member.html">
              <!-- image size: 680px by 830px-->
              <img class="medium" src="./images/passport1.png" alt="member" />
            </a>
            <div class="card-body">
              <a href="member.html">
                <h2>Kwame Attah</h2>
                <h5>P O Box 5643 Accra</h5>
                <h5>Plumber</h5>
                <h5>I offer good plumbing services</h5>
                <h5>353-271-6743</h5>
              </a>
            </div>
          </div>
          <div class="card">
            <a href="member.html">
              <!-- image size: 680px by 830px-->
              <img class="medium" src="./images/passport1.png" alt="member" />
            </a>
            <div class="card-body">
              <a href="member.html">
                <h2>Kwame Attah</h2>
                <h5>P O Box 5643 Accra</h5>
                <h5>Plumber</h5>
                <h5>I offer good plumbing services</h5>
                <h5>353-271-6743</h5>
              </a>
            </div>
          </div>
          <div class="card">
            <a href="member.html">
              <!-- image size: 680px by 830px-->
              <img class="medium" src="./images/passport1.png" alt="member" />
            </a>
            <div class="card-body">
              <a href="member.html">
                <h2>Kwame Attah</h2>
                <h5>P O Box 5643 Accra</h5>
                <h5>Plumber</h5>
                <h5>I offer good plumbing services</h5>
                <h5>353-271-6743</h5>
              </a>
            </div>
          </div>
          <div class="card">
            <a href="member.html">
              <!-- image size: 680px by 830px-->
              <img class="medium" src="./images/passport1.png" alt="member" />
            </a>
            <div class="card-body">
              <a href="member.html">
                <h2>Kwame Attah</h2>
                <h5>P O Box 5643 Accra</h5>
                <h5>Plumber</h5>
                <h5>I offer good plumbing services</h5>
                <h5>353-271-6743</h5>
              </a>
            </div>
          </div>
          <div class="card">
            <a href="member.html">
              <!-- image size: 680px by 830px-->
              <img class="medium" src="./images/passport1.png" alt="member" />
            </a>
            <div class="card-body">
              <a href="member.html">
                <h2>Kwame Attah</h2>
                <h5>P O Box 5643 Accra</h5>
                <h5>Plumber</h5>
                <h5>I offer good plumbing services</h5>
                <h5>353-271-6743</h5>
              </a>
            </div>           
          </div>
        </div>
      </main>
      <footer class="row center">All right reserved</footer>
    </div>
  </body>
</html>
